<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="onloadJB">
    <script type='text/javascript' th:src="@{/lib_web/jquery/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/lib_web/bootstrap/js/bootstrap.js}"></script>
</div>
<div th:fragment="onloadNJ">
    <script type="text/javascript" th:src="@{/lib_web/angular/angular.js}"></script>
    <script type="text/javascript" th:src="@{/lib_web/angular/angular-route.js}"></script>
</div>
</html>