a:hover {
    color: #F25C27;
}

.disabled a:hover {
    cursor: not-allowed;
}

@media (max-width: 767px) {
    .blog_img {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .div_width {
        width: 100%;
    }

    .archive_style {
        padding: 20px 10px;
    }

    .blog_md {
        width: 100%;
        padding: 0.5em 0;
    }

    .text-style {
        text-align: center;
    }

    .article_style {
        width: 100%;
        padding-top: 6px;
        color: #ffffff;
    }

}

@media (min-width: 767px) {
    .archive_style {
        width: 25%;
    }

    .blog_img {
        width: 20%;
        margin-bottom: 1.5em;
    }

    .div_width {
        width: 75%;
    }

    .blog_md {
        width: 100%;
        padding: 0.5em 12% 0.5em 0;
    }

    .text-style {
        text-align: right;
    }

    .article_style {
        width: 75%;
        padding-top: 6px;
        margin-left: 1em;
        color: #ffffff;
    }
}

.blog_background_color {
    background-color: #0f0f0f;
}

.blog_color {
    color: #7f7f7f;
}

.blog_p_top {
    padding-top: 20px;
}

.title_style {
    padding-bottom: 6px;
}

.title_style a {
    color: #F25C27;
}

.title_style a:hover {
    color: #f20722;
}

.article_padding {
    padding: 20px 5px;
}

.text_padding > li {
    padding: 5px 0;
}

.ul_1_margen-right {
    margin-right: 35px;
}

.mypagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.mypagination > li {
    display: inline;
}

.mypagination .active > a {
    z-index: 2;
    color: #ffffff;
    background-color: #F25C27;
    border-color: #F25C27;
}

.mypagination > li:first-child > a, .mypagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.mypagination > li > a, .mypagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #F25C27;
    text-decoration: none;
    background-color: #0f0f0f;
    border: 1px solid #b84d1f;
}

.mypagination > li:last-child > a, .mypagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.mypagination > li > a:hover, .mypagination > li > span:hover, .mypagination > li > a:focus, .mypagination > li > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #F25C27;
    border-color: #F25C27;
}