<link data-ng-href="views/view_3/css/view_3.css" rel="stylesheet">
<div class="blog_background_color">
    <div class="container blog_p_top position_relative">
        <!--文章区-->
        <div class="pull-left div_width">
            <ul>
                <li class="pull-left">
                    <section class="article_padding">
                        <img class="img-rounded pull-left blog_img" data-ng-src="views/view_3/img/4.jpg" alt="">
                        <div class="time_style pull-left" style="margin-left: 1em">
                            <h2 class="title_style">文章标文章标题文章标题文章标题文章章题</h2>
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;<span class="blog_color">2017.09.19&nbsp;|</span>
                            <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="defaut_color">Ning</span>
                            <p class="blog_color" style="padding: 0.5em 0">文章内容文章内容文章内容文章内容文章章内容文章内容</p>
                        </div>
                    </section>
                </li>
                <li class="pull-left">
                    <section class="article_padding">
                        <img class="img-rounded pull-left blog_img" data-ng-src="views/view_3/img/4.jpg" alt="">
                        <div class="time_style pull-left" style="margin-left: 1em">
                            <h2 class="title_style">文章标文章标题文章标题文章标题文章章题</h2>
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;<span class="blog_color">2017.09.19&nbsp;|</span>
                            <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="defaut_color">Ning</span>
                            <p class="blog_color" style="padding: 0.5em 0">文章内容文章内容文章内容文章内容文章章内容文章内容</p>
                        </div>
                    </section>
                </li>
                <li class="pull-left">
                    <section class="article_padding">
                        <img class="img-rounded pull-left blog_img" data-ng-src="views/view_3/img/4.jpg" alt="">
                        <div class="time_style pull-left" style="margin-left: 1em">
                            <h2 class="title_style">文章标文章标题文章标题文章标题文章章题</h2>
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;<span class="blog_color">2017.09.19&nbsp;|</span>
                            <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="defaut_color">Ning</span>
                            <p class="blog_color" style="padding: 0.5em 0">文章内容文章内容文章内容文章内容文章章内容文章内容</p>
                        </div>
                    </section>
                </li>
                <li class="pull-left">
                    <section class="article_padding">
                        <img class="img-rounded pull-left blog_img" data-ng-src="views/view_3/img/4.jpg" alt="">
                        <div class="time_style pull-left" style="margin-left: 1em">
                            <h2 class="title_style">文章标文章标题文章标题文章标题文章章题</h2>
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;<span class="blog_color">2017.09.19&nbsp;|</span>
                            <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="defaut_color">Ning</span>
                            <p class="blog_color" style="padding: 0.5em 0">文章内容文章内容文章内容文章内容文章章内容文章内容</p>
                        </div>
                    </section>
                </li>
                <li class="pull-left">
                    <section class="article_padding">
                        <img class="img-rounded pull-left blog_img" data-ng-src="views/view_3/img/4.jpg" alt="">
                        <div class="time_style pull-left" style="margin-left: 1em">
                            <h2 class="title_style">文章标文章标题文章标题文章标题文章章题</h2>
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;<span class="blog_color">2017.09.19&nbsp;|</span>
                            <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="defaut_color">Ning</span>
                            <p class="blog_color" style="padding: 0.5em 0">文章内容文章内容文章内容文章内容文章章内容文章内容</p>
                        </div>
                    </section>
                </li>
                <li class="pull-left">
                    <section class="article_padding">
                        <img class="img-rounded pull-left blog_img" data-ng-src="views/view_3/img/4.jpg" alt="">
                        <div class="time_style pull-left" style="margin-left: 1em">
                            <h2 class="title_style">文章标文章标题文章标题文章标题文章章题</h2>
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;<span class="blog_color">2017.09.19&nbsp;|</span>
                            <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="defaut_color">Ning</span>
                            <p class="blog_color" style="padding: 0.5em 0">文章内容文章内容文章内容文章内容文章章内容文章内容</p>
                        </div>
                    </section>
                </li>
                <li class="pull-left">
                    <section class="article_padding">
                        <img class="img-rounded pull-left blog_img" data-ng-src="views/view_3/img/4.jpg" alt="">
                        <div class="time_style pull-left" style="margin-left: 1em">
                            <h2 class="title_style">文章标文章标题文章标题文章标题文章章题</h2>
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;<span class="blog_color">2017.09.19&nbsp;|</span>
                            <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="defaut_color">Ning</span>
                            <p class="blog_color" style="padding: 0.5em 0">文章内容文章内容文章内容文章内容文章章内容文章内容</p>
                        </div>
                    </section>
                </li>
            </ul>
        </div>
        <!--导航区-->
        <div class="pull-left archive_style">
            <article class="article_padding">
                <div>
                    <h3 class="title_style">分类：</h3>
                    <ul class="text_padding">
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">前端</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">后端</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">随笔</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">备忘</a></li>
                    </ul>
                </div>
                <div class="blog_p_top">
                    <h3 class="title_style">归档：</h3>
                    <ul class="text_padding pull-left">
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">2016年01月</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">2016年01月</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">2016年01月</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">2016年01月</a></li>
                    </ul>
                    <ul class="text_padding pull-left ul_2_margen-left">
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">2016年01月</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">2016年01月</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">2016年01月</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a
                                class="title_style blog_color" href="">2016年01月</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>