<!DOCTYPE html>
<html lang="zh-CN" data-ng-app="itning" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ning!一个分享技术和个人见解的网站...</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta name="description" content="一个分享技术和个人见解的网站..."/>
    <meta name="keywords" content="Ning, 个人网站, JAVA, 前端"/>
    <meta name="author" content="Ning"/>
    <link th:href="@{/favicon.ico}" rel="icon" type="image/x-icon"/>
    <link th:href="@{/favicon.ico}" rel="shortcut icon" type="image/x-icon"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        [ng-cloak], .ng-cloak {
            display: none;
        }
    </style>
</head>

<body class="ng-cloak" data-ng-controller="indexFrameWork_Controller">
<!--nav start-->
<nav class="navbar navbar-inverse clean_navbar_style" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="glyphicon glyphicon-home a_home_icon" href="#!/view1"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li data-ng-repeat="navbar_ in navbar"><a data-ng-href="{{navbar_.href}}" target="_blank" rel="noopener">{{navbar_.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--nav end-->
<!-- header start -->
<header class="defaut_background_color">
    <div class="container header_size">
        <h1 class="header_logo">
            <a href="#!/view1"><img class="header_logo_img" style="width: 8em;" src="img/logo.png" alt="logo"/></a>
        </h1>
        <div class="header_a hidden-xs">
            <a href="#!/view_1" class="a_style"
               data-ng-class="{btn:1,active_now:$location.path().substr(0,7)=='/view_1'}">{{viewTitle[0]}}</a>
            <a href="#!/view_2" class="a_style"
               data-ng-class="{btn:1,active_now:$location.path().substr(0,7)=='/view_2'}">{{viewTitle[1]}}</a>
            <a href="#!/view_3/all" class="a_style"
               data-ng-class="{btn:1,active_now:$location.path().substr(0,7)=='/view_3'}">{{viewTitle[2]}}</a>
            <a href="#!/view_4" class="a_style"
               data-ng-class="{btn:1,active_now:$location.path().substr(0,7)=='/view_4'}">{{viewTitle[3]}}</a>
            <a href="#!/view_5" class="a_style"
               data-ng-class="{btn:1,active_now:$location.path().substr(0,7)=='/view_5'}">{{viewTitle[4]}}</a>
        </div>
        <div class="hidden-sm hidden-md hidden-lg position_relative">
            <a class="btn menu_button" data-toggle="collapse" data-target=".nav-collapse_">Menu <span
                    class="glyphicon glyphicon-chevron-down"></span> </a>
            <div class="nav-collapse nav-collapse_ collapse menu_ul" style="height: auto;">
                <ul class="nav text-center">
                    <li><a href="#!/view_1">{{viewTitle[0]}}</a></li>
                    <li><a href="#!/view_2">{{viewTitle[1]}}</a></li>
                    <li><a href="#!/view_3/all">{{viewTitle[2]}}</a></li>
                    <li><a href="#!/view_4">{{viewTitle[3]}}</a></li>
                    <li><a href="#!/view_5">{{viewTitle[4]}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
<section data-ng-view=""></section>
<!-- footer -->
<footer>
    <div class="container clearfix">
        <div class="pull-right privacy">
            <a target="_blank" href="//wpa.qq.com/msgrd?v=3&uin=3579677768&site=qq&menu=yes" rel="noopener">QQ</a> |
            <a href="mailto:1837634447@qq.com">E-mail</a>
        </div>
        <div class="privacy pull-left">© 2017 | <a href="//itning.cn" rel="noopener">itning.cn</a> | <a
                href="//itning.top/"
                target="_blank" rel="noopener">itning.top</a>
        </div>
    </div>
</footer>
<script type='text/javascript' src="//cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.staticfile.org/angular.js/1.6.6/angular.min.js"></script>
<script type="text/javascript" src="//cdn.staticfile.org/angular.js/1.6.6/angular-route.min.js"></script>
<script type='text/javascript' th:src="@{/lib_web/jquery.kwicks/jquery.kwicks.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript" th:src="@{/js/app-service.js}"></script>
<script type="text/javascript" th:src="@{/js/app-controller.js}"></script>
<script type="text/javascript" th:src="@{/views/view_1/js/view_1.js}"></script>
<script type="text/javascript" th:src="@{/views/view_2/js/view_2.js}"></script>
<script type="text/javascript" th:src="@{/views/view_3/js/view_3.js}"></script>
<script type="text/javascript" th:src="@{/views/view_4/js/view_4.js}"></script>
<script type="text/javascript" th:src="@{/views/view_5/js/view_5.js}"></script>
<script type="text/javascript">if ($(window).width() > 767) {
    document.write("<" + "script  type='text/javascript' color='242,92,39' opacity='0.7' zIndex='-2' count='100' src='//cdn.staticfile.org/canvas-nest.js/1.0.1/canvas-nest.min.js'></" + "script>");
}</script>
</body>
</html>