<!DOCTYPE html>
<html lang="zh-CN" data-ng-app="itning_admin" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ning!后台管理.</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="一个分享技术和个人见解的网站...">
    <meta name="keywords" content="Ning, 个人网站, JAVA, 前端">
    <meta name="author" content="Ning">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link th:href="@{/favicon.ico}" rel="icon" type="image/x-icon"/>
    <link th:href="@{/favicon.ico}" rel="shortcut icon" type="image/x-icon"/>
    <!-- Bootstrap -->
    <link th:href="@{/lib_web/bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ning！后台管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">框架管理</a></li>
                <li><a href="#!/view_1">视图一设置</a></li>
                <li><a href="#!/view_2">视图二设置</a></li>
                <li class="active"><a href="#!/view_3">视图三设置</a></li>
                <li><a href="#!/view_4">视图四设置</a></li>
                <li><a href="#!/view_5">视图五设置</a></li>
                <li><a href="#!/blog">博客发布</a></li>
            </ul>
            <form th:action="@{/logout}" method="post" class="navbar-form navbar-right">
                <input type="submit" class="form-control" value="注销">
            </form>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">框架管理 <span class="sr-only">框架管理</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#!/view_1">视图一设置</a></li>
                <li><a href="#!/view_2">视图二设置</a></li>
                <li class="active"><a href="#!/view_3">视图三设置</a></li>
                <li><a href="#!/view_4">视图四设置</a></li>
                <li><a href="#!/view_5">视图五设置</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#!/blog">博客发布</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" data-ng-view="">
            <!--内容-->

        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{lib_web/jquery/jquery-3.2.1.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/lib_web/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{lib_web/angular/angular.js}"></script>
<script type="text/javascript" th:src="@{lib_web/angular/angular-route.js}"></script>
<script th:src="@{/lib_web/editormd/lib/marked.min.js}"></script>
<script th:src="@{/lib_web/editormd/lib/prettify.min.js}"></script>
<script th:src="@{/lib_web/editormd/lib/raphael.min.js}"></script>
<script th:src="@{/lib_web/editormd/lib/underscore.min.js}"></script>
<script th:src="@{/lib_web/editormd/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/lib_web/editormd/lib/flowchart.min.js}"></script>
<script th:src="@{/lib_web/editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/lib_web/editormd/editormd.js}"></script>
<!--<script type="text/javascript">if ($(window).width() > 767) {
    document.write("<" + "script  type='text/javascript' color='66,139,202' opacity='0.7' zIndex='-2' count='100' src='//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js'></" + "script>");
}</script>-->
</body>
</html>