<link data-ng-href="views/view_5/css/view_5.css" rel="stylesheet">
<div class="about_background_color">
    <div class="container">
        <div class="about_padding">
            啊啊啊
            啊啊啊
            啊啊啊
            啊啊啊
            啊啊啊
            啊啊啊
            啊啊啊
            啊啊啊
            <p>
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px"
                         src="http://jigsaw.w3.org/css-validator/images/vcss"
                         alt="Valid CSS!" />
                </a>
            </p>
        </div>
    </div>
</div>