<link data-ng-href="views/view_5/css/view_5.css" rel="stylesheet">
<div class="about_background_color">
    <div class="container">
        <div class="about_padding">
            <h1>欢迎访问我的博客 目前网站正在建设中...</h1><br/>
            <h2>运行环境：阿里云 学生 > Ubuntu > Tomcat8</h2><br/>
            <h2>网站架构：AngularJS+Spring Boot</h2><br/>
            <h2>前端框架：</h2><br/>
            <h3><a href="https://github.com/jquery" target="_blank">1.jquery</a></h3><br/>
            <h3><a href="https://github.com/twbs/bootstrap" target="_blank">2.Bootstrap</a></h3><br/>
            <h3><a href="https://github.com/angular/angular.js" target="_blank">3.AngularJS</a></h3><br/>
            <h3><a href="https://github.com/pandao/editor.md" target="_blank">4.Editor.md</a></h3><br/>
            <h3><a href="https://github.com/hustcc/canvas-nest.js" target="_blank">5.canvas-nest</a></h3><br/>
            <h2>后端框架</h2><br/>
            <h3><a href="https://github.com/spring-projects/spring-boot" target="_blank">1.Spring Boot</a></h3><br/>
            <h3><a href="https://github.com/spring-projects/spring-data-jpa" target="_blank">2.Spring JPA</a></h3><br/>
            <h1>感谢所有开源项目！</h1><br/>
        </div>
    </div>
</div>