<div class="table-responsive">
    <table class="table table-hover text-center">
        <tr>
            <td>类别</td>
            <td>操作</td>
        </tr>
        <tr data-ng-repeat="type_ in type">
            <td><p>{{type_.name}}</p></td>
            <td>
                <button class="btn btn-danger" data-ng-click="deleteType(type_.id)">删除</button>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="text" data-ng-model="newType"/>
                </label>
            </td>
            <td>
                <button class="btn btn-info" data-ng-click="addType()">添加类别信息</button>
            </td>
        </tr>
    </table>
</div>
<hr/>
文章类别：
<label>
    <select name="type" class="form-control" data-ng-model="typeID">
        <option value="">所有</option>
        <option data-ng-repeat="type_ in type" value="{{type_.id}}">{{type_.name}}</option>
    </select>
</label> {{blog.length}}条
<div class="table-responsive">
    <table class="table table-hover text-center">
        <tr>
            <td>文章标题</td>
            <td>操作</td>
        </tr>
        <tr data-ng-repeat="blog_ in blog">
            <td style="line-height: 34px;"><a href="/article/{{blog_.id}}" target="_blank">{{blog_.aTitle}}</a></td>
            <td>
                <button style="width: 48.5%" class="btn btn-primary" data-ng-click="updataBlogByID(blog_.id)">编辑
                </button>
                <button style="width: 48.5%" class="btn btn-danger" data-ng-click="delBlogByID(blog_.id)">删除</button>
            </td>
        </tr>
    </table>
</div>
<div style="width: 100%">
    <button style="width: 49%" class="btn btn-info">上一页</button>
    <button style="width: 49%" class="btn btn-info">下一页</button>
</div>