<div class="alert alert-danger alert-dismissible fade in hidden" role="alert" id="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="取消"><span aria-hidden="true">×</span></button>
    <h4>你确定删除吗？</h4>
    <p>删除操作不可逆。</p>
    <p>
        <button type="button" class="btn btn-danger" data-ng-click="del_true()">删除</button>
        <button type="button" class="btn btn-default" data-dismiss="alert" aria-label="取消">取消</button>
    </p>
</div>
<div class="table-responsive">
    <table class="table table-hover text-center">
        <tr>
            <td>类别</td>
            <td>操作</td>
        </tr>
        <tr data-ng-repeat="type_ in type">
            <td>
                <p data-ng-show="showID!==type_.id">{{type_.name}}</p>
                <form data-ng-show="showID===type_.id" ng-submit="updataTypeByID(type_.id)">
                    <label>
                        <input type="text" value="{{type_.name}}" id="{{type_.id}}">
                    </label>
                    <button type="submit" class="btn btn-info">保存</button>
                </form>
            </td>
            <td>
                <button data-ng-show="showID!==type_.id" class="btn btn-info" data-ng-click="changeShowID(type_.id)">
                    编辑
                </button>
                <button data-ng-show="showID===type_.id" class="btn btn-info" data-ng-click="changeShowID(-1)">取消
                </button>
                <button class="btn btn-danger" data-ng-click="del('type',type_.id)">删除</button>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="text" data-ng-model="newType"/>
                </label>
            </td>
            <td>
                <button class="btn btn-info" data-ng-click="addType()">添加类别信息</button>
            </td>
        </tr>
    </table>
</div>
<hr/>
文章类别：
<label>
    <select name="type" class="form-control" data-ng-model="typeID">
        <option value="">所有</option>
        <option data-ng-repeat="type_ in type" value="{{type_.id}}">{{type_.name}}</option>
    </select>
</label> {{blog.length}}条
<div class="table-responsive">
    <table class="table table-hover text-center">
        <tr>
            <td>文章标题</td>
            <td>操作</td>
        </tr>
        <tr data-ng-repeat="blog_ in blog">
            <td style="line-height: 34px;"><a href="/article/{{blog_.id}}" target="_blank">{{blog_.aTitle}}</a></td>
            <td>
                <button style="width: 48.5%" class="btn btn-primary" data-ng-click="updataBlogByID(blog_.id)">编辑
                </button>
                <button style="width: 48.5%" class="btn btn-danger" data-ng-click="del('blog',blog_.id)">删除</button>
            </td>
        </tr>
    </table>
</div>
<div style="width: 100%">
    <button style="width: 49%" class="btn btn-info">上一页</button>
    <button style="width: 49%" class="btn btn-info">下一页</button>
</div>