<link rel="stylesheet" data-ng-href="lib_web/editormd/css/editormd.css"/>
<div id="layout">
    <form method="post" data-ng-submit="submit()">
        <div id="editormd_id">
            <!-- Custom textarea name attribute <textarea style="display:none;" name="test-textarea-name"> -->
            <textarea style="display:none;" id="md_textarea"># aa</textarea>
        </div>
        <div style="width:90%;margin: 10px auto;">
            <input type="submit" name="submit" value="提交表单 Submit" style="padding: 5px;"/>
        </div>
    </form>
    <div></div>
</div>

<script type="text/javascript">
    /*$(function() {
        $.get("", function(md) {
            var testEditor = editormd("test-editormd", {
                width  : "90%",
                height : 640,
                path   : "lib_web/editormd/lib/",
                appendMarkdown : md,
                saveHTMLToTextarea : true
            });
        });*/
    editormd("editormd_id", {
        width: "100%",
        height: 650,
        path: "./lib_web/editormd/lib/",
        emoji:false,
        saveHTMLToTextarea: true
    });
</script>