<link data-ng-href="views/view_error/css/view_error.css" rel="stylesheet">
<div class="error_background">
    <div class="container">
        <div class="error_padding">
            <div class="error_div_img"><img class="error_img" data-ng-src="views/view_error/img/404.jpg" alt=""></div>
            <div class="error_div">
                <h1 class="error_h1 text-center">Oopss!</h1>
                <h2 class="error_h2 text-center">404 page not found</h2>
            </div>
        </div>
    </div>
</div>